upstream php-fpm {
    server	127.0.0.1:9001;
    keepalive	10;
}
server {
    server_name {{ mailwizz_domain }}  www.{{ mailwizz_domain }};
    set $root_path '/home/mailwizz/mailwizz';
    set $yii_bootstrap 'index.php';
    access_log /home/mailwizz/logs/nginx_access.log;
    error_log /home/mailwizz/logs/nginx_error.log;
    root /home/mailwizz/mailwizz;
    index index.php;
    ## Do not expose version
    server_tokens off;
   location / {
         index  index.html index.htm index.php;
         if (!-e $request_filename){
         rewrite ^(/)?api/.*$ /api/index.php;
         }
         if (!-e $request_filename){
         rewrite ^(/)?customer/.*$ /customer/index.php;
         }
         if (!-e $request_filename){
         rewrite ^(/)?backend/.*$ /backend/index.php;
         }
         if (!-e $request_filename){
         rewrite ^(.*)$ /index.php;
         }
} 
     location ~ \.php$ {
         fastcgi_split_path_info  ^(.+\.php)(.*)$;
 
         fastcgi_param  PATH_INFO        $fastcgi_path_info;
         fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
         include fastcgi_params;
 
         fastcgi_pass   php-fpm;
         fastcgi_index  index.php;
 
         fastcgi_read_timeout 600s;
         fastcgi_send_timeout 600s;
     }
 
     location ~ /\.ht {
         deny  all;
     }



}



