upstream php-fpm {
    server	127.0.0.1:9001;
    keepalive	10;
}
# Declare memory zone for limit concurrent requests to the server - 10M of Memory , Rate 5 requests per second
limit_req_zone $binary_remote_addr zone=mailwizz:64m rate=60r/s;
# Declare memory zone and cache key pettern for Microcache
fastcgi_cache_path /tmp/nginx levels=1:2 keys_zone php-fpm:64m inactive=60m;
fastcgi_cache_key "$scheme$request_method$host$request_uri";

server {
    server_name {{ mailwizz_domain }} www.{{ mailwizz_domain }};
    set $root_path '/home/mailwizz/mailwizz';
    set $yii_bootstrap 'index.php';
    root $root_path;
    index index.php;
    error_log /home/mailwizz/logs/nginx_error.log;
    access_log /home/mailwizz/logs/nginx_access.log;
{%if nginx_ssl is sameas true %}
    # Enable HTTP/2
    listen 443 ssl http2;
    # SSL Certificate
    ssl_certificate certs/nginx-selfsigned.crt;
    ssl_certificate_key certs/nginx-selfsigned.key;
    ssl_dhparam certs/dhparam.pem;
    # Security best practices for SSL configurations in NGINX
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;
    ssl_ecdh_curve secp384r1;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;
    ssl_stapling off; # Due to self signed SSL
    ssl_stapling_verify on;
    resolver 8.8.8.8 8.8.4.4 valid=300s;
    resolver_timeout 5s;
{% endif %}
    ## Do not expose version
    server_tokens off;
    location ~ \.php {
{%if nginx_limit_request is sameas true %}
        # Limit concurrent request from unique IPAddress to the backend
        limit_req zone=mailwizz nodelay burst=90;
        limit_req_status 418;
        {% endif %}
        proxy_pass  http://php-fpm;
	{% if nginx_cache is sameas true %}
	# NGINX Microcache
	fastcgi_cache php-fpm;
	fastcgi_cache_valid 200 1m;
	fastcgi_cache_bypass $no_cache;
        # Disable Cache by default
        set $no_cache 1;
        # Enable cache just for static content and enable browser cache
        if ($request_uri ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$) {
                set $no_cache 0;
                expires max;
        }
{% endif %}
        fastcgi_split_path_info         ^(.+\.php)(/.+)$;

        # Include FastCGI Params.
        include /etc/nginx/fastcgi_params;

        # Overwrite FastCGI Params here.
        fastcgi_param SCRIPT_FILENAME   $document_root$fastcgi_script_name;

        # FastCGI socket, change to fits your own socket!
        fastcgi_pass php-fpm;

        # Only Accept GET HEAD POST method
        if ($request_method !~ ^(GET|HEAD|POST)$ ) {
		return 444;
        }

    }

}


